

.header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}

.products-section {
    background-color: orange;
    margin: 40px auto;
    padding: 15px 20px;
    width: 85%;
    font-size: 30px;
    font-style: bold;
    border-radius: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


.product-card {

    border: 2px solid black;
    width: 260px;
    padding: 20px;
    margin: 30px 0 30px 80px;
    position: relative;
    border-radius: 15px;
    background-color: #f3e2bd;  
    box-shadow: black 4px 4px 8px;
}


.sale-badge {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bold;
}

.relative-box {
    border: 3px solid blue;
    width: 220px;
    height: 120px;
    margin: 40px 0 40px 80px;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    background-color: #bde3f3;
}

.chat{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    font-size: large;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 25px;
    cursor: pointer;

}
