
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.one {
    background: #ffffff;
    border-radius: 25px;
    border: #000000 2px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}


.one h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.one h2 {
    font-size: 18px;
    color: #2c6199;
    margin: 5px 0;
}

.one p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}



.box div {
    text-align: center;
}

.box h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #5bff2d;
    margin: 0;
}

.box p {
    font-size: 12px;
    color: #777;
    margin: 5px 0 0;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: #0056b3;
}
.btn:active {
    background-color: #0c002e;
}
