/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.div {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}

div h4 {
    text-align: center;
}
 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    color: white;
    font-size: 25px;

}

.navbar a {
    text-decoration: none;
    color: white;
}

.box {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, blue, white, skyblue);

}

.btn {
    color: white;
    background-color: red;
    border-radius: 25px;
    border: none;
}

.box1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, blue, white, skyblue);
}

.box1:hover {
    background: linear-gradient(to left, red, white, yellow);
}

.text {
    color: red;
}

.progress-bar {
    width: 200px;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.progress {
    width: 70%;
    height: 100%;
    background-color: green;
    border-radius: 25px;
}

.progress-text {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
}

.box2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid black;
    width: 200px;
    height: 100px;

}

.box2:hover {
    box-shadow: 5px 10px 25px black;
}

#text {
    text-transform: uppercase;
    font-size: 25px;
    ;
}

.image {
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.crown {
    position: absolute;
    top: -38px;
    right: -12px;
    rotate: 36deg;
    font-size: 55px;
}